@using HPIT.RentHouse.DTO.UIDTO
@{
    ViewBag.Title = "Index";
}
<style>
    #city {
        z-index: 10000;
        position: absolute;
        font-size: 15px;
        border: 1px solid #aaaaaa;
        width: 80px;
        top: 30px;
        left: 0px;
        background-color: #f7f7f7;
        cursor: pointer;
        display: none;
        text-align: center;
    }
</style>
<!--城市-->
<div id="city">
    <ul>
        @{
            foreach (var item in ViewBag.Citys as List<CityUiListDTO>)
            {
                <li data-city="@item.Id" onclick="ClickCity(@item.Id)">@item.Name</li>
            }
        }
    </ul>
</div>
<!--header star-->
<div class="header clearfloat">
    <div class="tu clearfloat">
        <img src="~/img/index-banner.jpg" />
    </div>
    <header class="mui-bar mui-bar-nav">
        <a class="btn" href="#">
            <p>@ViewBag.CityName<i class="iconfont icon-iconfontarrowdown-copy"></i></p>
        </a>
        <div class="top-sch-box flex-col">
            <div class="centerflex">
                <i class="fdj iconfont icon-sousuo"></i>
                <div class="sch-txt">请输入您要搜索的内容</div>
            </div>
        </div>
    </header>
    <div class="header-tit clearfloat">
        <p class="header-num">掌上租已为<span>53789</span>用户成功租房！</p>
        <p class="header-da">轻松租房  乐享生活</p>
    </div>
</div>
<!--header end-->
<div id="main" class="mui-clearfix">
    <!-- 搜索层 -->
    <div class="pop-schwrap">
        <div class="ui-scrollview">
            <div class="poo-mui clearfloat box-s">
                <div class="mui-bar mui-bar-nav clone poo-muitwo">
                    <div class="top-sch-box flex-col">
                        <div class="centerflex">
                            <i class="fdj iconfont icon-sousuo" id="btn-search"></i>
                            <input class="sch-input mui-input-clear" type="text" name="" id="keyword" placeholder="请输入您要搜索的内容" />
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="mui-btn mui-btn-primary btn-back">取消</a>
            </div>
            <div class="scroll-wrap">
                <div class="mui-scroll">
                    <div class="sch-cont">
                        <div class="section ui-border-b">
                            <div class="tit">热门搜索</div>
                            <div class="tags">
                                <span class="tag">大溪地</span><span class="tag">大溪地</span><span class="tag">大溪地</span>
                                <span class="tag">大溪地</span><span class="tag">大溪地</span><span class="tag">大溪地</span>
                                <span class="tag">大溪地</span><span class="tag">大溪地</span><span class="tag">大溪地</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cation clearfloat">
        <ul class="clearfloat">
            <li>
                <a href="entire.html">
                    <img src="~/img/fang.png" />
                    <p>整租</p>
                </a>
            </li>
            <li>
                <a href="entire.html">
                    <img src="~/img/chuang.png" />
                    <p>合租</p>
                </a>
            </li>
            <li>
                <a href="entire.html">
                    <img src="~/img/bao.png" />
                    <p>短租</p>
                </a>
            </li>
            <li>
                <a href="entire.html">
                    <img src="~/img/lou.png" />
                    <p>写字楼</p>
                </a>
            </li>
            <li>
                <a href="map.html">
                    <img src="~/img/map.png" />
                    <p>地图找房</p>
                </a>
            </li>
            <li>
                <a href="landlord.html">
                    <img src="~/img/people.png" />
                    <p>我是房东</p>
                </a>
            </li>
            <li>
                <a href="join.html">
                    <img src="~/img/woshou.png" />
                    <p>加盟</p>
                </a>
            </li>
            <li>
                <a href="life-service.html">
                    <img src="~/img/self.png" />
                    <p>生活服务</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="recom clearfloat">
        <div class="recom-tit clearfloat box-s">
            <p>热门房源推荐</p>
        </div>
        <div class="content clearfloat box-s">

            @*这里使用模版*@
            <div id="refreshContainer">
                <div id="houseList"></div>
            </div>


        </div>
    </div>
</div>

<footer class="page-footer fixed-footer" id="footer">
    <ul>
        <li class="active">
            <a href="index.html">
                <i class="iconfont icon-shouyev1"></i>
                <p>首页</p>
            </a>
        </li>
        @*<li>
            <a href="lease.html">
                <i class="iconfont icon-chuzuwo"></i>
                <p>我要出租</p>
            </a>
        </li>
        <li>
            <a href="schedule.html">
                <i class="iconfont icon-richengbiao"></i>
                <p>看房日程</p>
            </a>
        </li>
        <li>
            <a href="sign.html">
                <i class="iconfont icon-gerenzhongxin"></i>
                <p>个人中心</p>
            </a>
        </li>*@
    </ul>
</footer>
@section Script{
    <!--搜索点击效果-->
    <script src="~/js/template.js"></script>
    <script>


        // js 获取地址栏参数
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
        // 获取
        var cityId = getQueryVariable("cityId");
        // 判断是否有 cityId 值，不存在则给他一个初始值
        if (cityId == null || cityId == undefined || cityId == 0) {
            cityId = @ViewBag.cId;
        }

        console.log(cityId);
        // 页码赋值，默认从 1 开始
        var start = 1;

        // 搜索
        $("#btn-search").click(function () {
            location.href = "/House/Search?keyWord=" + $("#keyword").val();
        })
        console.log("keyword：" + $("#keyword").val())

        $(function () {
            

            var banner = new Swiper('.banner', {
                autoplay: 5000,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                lazyLoading: true,
                loop: true
            });

            mui('.pop-schwrap .sch-input').input();
            var deceleration = mui.os.ios ? 0.003 : 0.0009;
            mui('.pop-schwrap .scroll-wrap').scroll({
                bounce: true,
                indicators: true,
                deceleration: deceleration
            });
            $('.top-sch-box .fdj,.top-sch-box .sch-txt,.pop-schwrap .btn-back').on('click', function () {
                $('html,body').toggleClass('holding');
                $('.pop-schwrap').toggleClass('on');
                if ($('.pop-schwrap').hasClass('on')) {
                    ;
                    $('.pop-schwrap .sch-input').focus();
                }
            });

            // 点击城市显示或收缩城市信息
            $(".btn").click(() => {
                $("#city").toggle();
            })

            mui("body").on("tap", "a", function () {
                // 逻辑代码，例如跳转详情页、ajax
                document.location.href = this.href;
            });
            // 上拉刷新
            mui.init({
                pullRefresh: {
                    container: refreshContainer,//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
                    up: {
                        height: 50,//可选.默认50.触发上拉加载拖动距离
                        auto: true,//可选,默认false.自动上拉加载一次
                        contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                        contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                        callback: function () {
                            var t = this; // 当前对象
                            $.ajax({
                                type: "post",
                                url: "/RentHouse/GetHouseUi",
                                data: {
                                    "cityId": cityId,
                                    "start": start
                                },
                                dataType: "json",
                                success: function (data) {
                                    start++; // 加载下一行
                                    var html = template('houseTemplate', { house: data });
                                    $("#houseList").append(html);
                                    // 结束上拉加载
                                    t.endPullupToRefresh(false);
                                }
                            })
                        } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                    }
                }
            })


        });

        // 单击切换城市
        function ClickCity(id) {
            location.href = "/RentHouse/Index?cityId=" + id;
        }


    </script>
    <script type="text/html" id="houseTemplate">
        {{each house as h}}
        <div class="list clearfloat fl box-s">
            <a href="/House/Index?houseId={{h.Id}}">
                <div class="tu clearfloat">
                    <span></span>
                    <img src="{{h.ThumbUrl}}" />
                </div>
                <div class="right clearfloat">
                    <div class="tit clearfloat">
                        <p class="fl">{{h.Community}}</p>
                        <span class="fr">{{h.MonthRent}}<samp>元/月</samp></span>
                    </div>
                    <p class="recom-jianjie">{{h.RoomTypeName}}   |  {{h.Area}}m²  |  {{h.DecorateStatusName}}</p>
                    <div class="recom-bottom clearfloat">
                        <span><i class="iconfont icon-duihao"></i>随时住</span>
                        <span><i class="iconfont icon-duihao"></i>家电齐全</span>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </script>


}
