@model IEnumerable<HPIT.RentHouse.DTO.AttachmentsHouseDTO>
@{
    ViewBag.Title = "添加房源";

}

<div class="pd-20">
    <form class="form form-horizontal" id="houseAddfrm" autocomplete="off">
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>区域：</label>
            <div class="formControls col-2">
                @* 区域下拉框*@
                <span class="select-box">
                    @Html.DropDownList("RegionsId", ViewBag.RegionsDDL as List<SelectListItem>, "==请选择==", new { @class = "select" })
                </span>
            </div>
            <label class="form-label col-2">小区：</label>
            <div class="formControls col-2">
                @* 小区下拉框 *@
                <span class="select-box">
                    <select id="CommunityId" name="CommunityId" class="select">
                        <option>==请选择==</option>
                    </select>
                </span>
            </div>
            <label class="form-label col-2">房型：</label>
            <div class="formControls col-2 skin-minimal">
                <span class="select-box">
                    @Html.DropDownList("RoomTypeId", ViewBag.RoomTypeId as List<SelectListItem>, new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">地址：</label>
            <div class="formControls col-6">

                <input type="text" class="input-text" placeholder="详细地址" name="Address" datatype="*" nullmsg="地址不能为空">
            </div>
            <label class="form-label col-2">月租金：</label>
            <div class="formControls col-2 skin-minimal">
                <input type="text" class="input-text" name="MonthRent" datatype="n" nullmsg="租金不能为空">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.DropDownList("StatusId", ViewBag.StatusId as List<SelectListItem>, new { @class = "select" })
                </span>
            </div>
            <label class="form-label col-2">面积：</label>
            <div class="formControls col-2">
                <input type="text" class="input-text" placeholder="平米" name="Area" datatype="n" nullmsg="面积要三思呀">
            </div>
            <label class="form-label col-2">装修：</label>
            <div class="formControls col-2 skin-minimal">
                <span class="select-box">
                    @Html.DropDownList("DecorateStatusId", ViewBag.DecorateStatusId as List<SelectListItem>, new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>楼层：</label>
            <div class="formControls col-1">
                <input type="text" class="input-text" placeholder="所在层" name="FloorIndex" datatype="n" nullmsg="几楼呢">
            </div>
            <div class="formControls col-1">
                <input type="text" class="input-text" placeholder="总层数" name="TotalFloorCount" datatype="n" nullmsg="几楼呢">
            </div>

            <label class="form-label col-2">类别：</label>
            <div class="formControls col-2 skin-minimal">
                <span class="select-box">
                    @Html.DropDownList("TypeId", ViewBag.TypeId as List<SelectListItem>, new { @class = "select" })
                </span>
            </div>

            <label class="form-label col-2">朝向：</label>
            <div class="formControls col-2 skin-minimal">
                <input type="text" class="input-text" name="Direction" datatype="*" nullmsg="朝向是哪里">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">可看房时间：</label>
            <div class="formControls col-4">
                <input id="LookableDateTime" name="LookableDateTime" style="width:180px;" class="input-text Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate: '%y-%M-01', maxDate: '#F{$dp.$D(\'CheckInDateTime\')}'})" />
                
            </div>
            <label class="form-label col-2">入住时间：</label>
            <div class="formControls col-4">
                <input id="CheckInDateTime" name="CheckInDateTime" style="width:180px;" class="input-text Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate: '#F{$dp.$D(\'LookableDateTime\')}', maxDate: '%y-%M-%ld' })" />
                
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">业主姓名：</label>
            <div class="formControls col-4">
                <input type="text" class="input-text" name="OwnerName" datatype="*" nullmsg="业主叫什么">
            </div>

            <label class="form-label col-2">业主电话：</label>
            <div class="formControls col-4">
                <input type="text" class="input-text" name="OwnerPhoneNum" datatype="m" nullmsg="电话不要胡写嘛">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">房源描述：</label>
            <div class="formControls col-10">
                <script id="Description" name="Description" type="text/plain">
                    @*富文本*@
                </script>

            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">配置设置：</label>
            <div class="formControls col-10">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-3">
                            <input type="checkbox" name="AttachmentId" value="@item.Id" />@item.Name
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="button" id="btn_Add"><i class="Hui-iconfont">&#xe632;</i> 保存</button>

            </div>
        </div>

    </form>
</div>

@*需要修改的*@
@section footScript{
    <script src="~/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script>
        // 小区下拉框，动态绑定
        $("#RegionsId").change(function () {
            // 获取当前的地区编号
            var regionId = $(this).val();
            // 发送请求返回数据
            $.post("/House/GetCommunities", { "RegionId": regionId }, (r) => {
                var str = "";
                str += "<option>==请选择==</option>";
                for (var i = 0; i < r.length; i++) {
                    str += "<option value=" + r[i].Id + ">" + r[i].Name + "</option>";
                }
                $("#CommunityId").empty();
                $("#CommunityId").append(str);
            }, "json")
        })

        // 使用 Validform 方式验证页面表单
        var vf = $("#houseAddfrm").Validform({ tiptype: 2 });

        // 单击按钮发送请求
        $("#btn_Add").click(function () {
            console.log($("#houseAddfrm").serializeArray());
            // 判断表单验证是否通过
            if (vf.check(false)) {
                $.ajax({
                    type: "post",
                    url: "/House/Add",
                    data: $("#houseAddfrm").serializeArray(),
                    dataType: "json",
                    success: function (r) {
                        layer.msg("正在添加房源信息···", { icon: 1, time: 1000 }, function () {
                            if (r.State == 1) {
                                layer.msg(r.Message, { icon: 1, time: 2000 }, function () {
                                    // 刷新
                                    parent.location.reload();
                                })
                            } else {
                                layer.msg(r.Message, { icon: 2 })
                            }
                        })
                    },
                    error: function () {
                        layer.msg("操作异常", { icon: 2 })
                    }
                })
            }
        })


    </script>
    <script type="text/javascript">
        var ue = UE.getEditor('Description');
    </script>
}
