@model HPIT.RentHouse.DTO.HouseGetEditDTO
@{
    ViewBag.Title = "修改房源";
}

<div class="pd-20">
    <form class="form form-horizontal" id="houseEditfrm" autocomplete="off">
        @Html.HiddenFor(a => a.Id, Model.Id)
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>区域：</label>
            <div class="formControls col-2">
                @* 区域下拉框*@
                <span class="select-box">
                    @Html.DropDownList("RegionsId", ViewBag.RegionsDDL as List<SelectListItem>, "==请选择==", new { @class = "select" })
                </span>
            </div>
            <label class="form-label col-2">小区：</label>
            <div class="formControls col-2">
                @* 小区下拉框 *@
                <span class="select-box">
                    <select id="CommunityId" name="CommunityId" class="select">
                        <option>==请选择==</option>
                    </select>
                </span>
            </div>
            <label class="form-label col-2">房型：</label>
            <div class="formControls col-2 skin-minimal">
                <span class="select-box">
                    @Html.DropDownList("RoomTypeId", ViewBag.RoomTypeIds as List<SelectListItem>, "==请选择==", new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">地址：</label>
            <div class="formControls col-6">

                <input type="text" class="input-text" value="@Model.Address" placeholder="详细地址" name="Address" datatype="*" nullmsg="地址不能为空">
            </div>
            <label class="form-label col-2">月租金：</label>
            <div class="formControls col-2 skin-minimal">
                <input type="text" class="input-text" name="MonthRent" value="@Model.MonthRent" datatype="n" nullmsg="租金不能为空">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-2">
                <span class="select-box">
                    @Html.DropDownList("StatusId", ViewBag.StatusIds as List<SelectListItem>, "==请选择==", new { @class = "select" })
                </span>
            </div>
            <label class="form-label col-2">面积：</label>
            <div class="formControls col-2">
                <input type="number" class="input-text" placeholder="平米" value="@Model.Area" id="Area" name="Area" datatype="*" nullmsg="面积要三思呀">
            </div>
            <label class="form-label col-2">装修：</label>
            <div class="formControls col-2 skin-minimal">
                <span class="select-box">
                    @Html.DropDownList("DecorateStatusId", ViewBag.DecorateStatusIds as List<SelectListItem>, "==请选择==", new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>楼层：</label>
            <div class="formControls col-1">
                <input type="text" class="input-text" placeholder="所在层" value="@Model.FloorIndex" id="FloorIndex" name="FloorIndex" datatype="n" nullmsg="几楼呢">
            </div>
            <div class="formControls col-1">
                <input type="text" class="input-text" placeholder="总层数" value="@Model.TotalFloorCount" id="TotalFloorCount" name="TotalFloorCount" datatype="n" nullmsg="几楼呢">
            </div>

            <label class="form-label col-2">类别：</label>
            <div class="formControls col-2 skin-minimal">
                <span class="select-box">
                    @Html.DropDownList("TypeId", ViewBag.TypeIds as List<SelectListItem>, "==请选择==", new { @class = "select" })
                </span>
            </div>

            <label class="form-label col-2">朝向：</label>
            <div class="formControls col-2 skin-minimal">
                <input type="text" class="input-text" value="@Model.Direction" id="Direction" name="Direction" datatype="*" nullmsg="朝向是哪里">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">可看房时间：</label>
            <div class="formControls col-4">
                <input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="LookableDateTime" class="input-text Wdate" style="width:180px;" value="@Model.LookableDateTime" name="LookableDateTime" datatype="*" nullmsg="好好填写时间">
            </div>
            <label class="form-label col-2">入住时间：</label>
            <div class="formControls col-4">
                <input type="text" name="CheckInDateTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'datemin\')}'})" value="@Model.CheckInDateTime" id="CheckInDateTime" class="input-text Wdate" style="width:180px;" datatype="*" nullmsg="好好填写时间">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">业主姓名：</label>
            <div class="formControls col-4">
                <input type="text" class="input-text" name="OwnerName" id="OwnerName" value="@Model.OwnerName" datatype="*" nullmsg="业主叫什么">
            </div>

            <label class="form-label col-2">业主电话：</label>
            <div class="formControls col-4">
                <input type="text" class="input-text" name="OwnerPhoneNum" id="OwnerPhoneNum" value="@Model.OwnerPhoneNum" datatype="m" nullmsg="电话不要胡写嘛">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">房源描述：</label>
            <div class="formControls col-10">
                <script id="Description" name="Description" type="text/plain">
                    @*富文本*@
                    @Html.Raw(Model.Description)
                </script>

            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">配置设置：</label>
            <div class="formControls col-10">
                @{
                    foreach (var item in Model.AttachmentId)
                    {
                        <div class="col-3">
                            <input type="checkbox" name="AttachmentId" id="AttachmentId" checked="@item.IsChecked" value="@item.Id" />@item.Name
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="button" id="btn_Edit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>

            </div>
        </div>

    </form>
</div>

@*需要修改的*@
@section footScript{
    <script src="~/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script>
        // 小区下拉框，动态绑定
        $("#RegionsId").change(function () {
            // 获取当前的地区编号
            var regionId = $(this).val();
            // 发送请求返回数据
            $.post("/House/GetCommunities", { "RegionId": regionId }, (r) => {
                var str = "";
                str += "<option>==请选择==</option>";
                for (var i = 0; i < r.length; i++) {
                    str += "<option value=" + r[i].Id + ">" + r[i].Name + "</option>";
                }
                $("#CommunityId").empty();
                $("#CommunityId").append(str);
                // $("#CommunityId").val(@Model.CommunityId)

            }, "json")
        })

        // 小区下拉框绑定
        $(function () {
            // 选中当前 RegionsId 下拉框
            $("#RegionsId").val(@Model.RegionsId);
            $.post("/House/GetCommunities", { "RegionId": @Model.RegionsId }, (r) => {
                var str = "";
                str += "<option>==请选择==</option>";
                for (var i = 0; i < r.length; i++) {
                    str += "<option value=" + r[i].Id + ">" + r[i].Name + "</option>";
                }
                $("#CommunityId").empty();
                $("#CommunityId").append(str);
                $("#CommunityId").val(@Model.CommunityId); // 绑定下拉框的值

            }, "json");
            // 或者手动配置
            @*$("#RoomTypeId").val(@Model.RoomTypeId);
            $("#StatusId").val(@Model.StatusId);
            $("#TypeId").val(@Model.TypeId);
            $("#DecorateStatusId").val(@Model.DecorateStatusId);*@
        })


        // 使用 Validform 方式验证页面表单
        var vf = $("#houseEditfrm").Validform({ tiptype: 2 });

        // 单击按钮发送请求
        $("#btn_Edit").click(function () {
            console.log($("#houseEditfrm").serializeArray());
            // 判断表单验证是否通过
            if (vf.check(false)) {
                $.ajax({
                    type: "post",
                    url: "/House/Edit",
                    data: $("#houseEditfrm").serializeArray(),
                    dataType: "json",
                    success: function (r) {
                        if (r.State == 1) {
                            layer.msg(r.Message, { icon: 1, time: 2000 }, function () {
                                // 刷新
                                parent.location.reload();
                            })
                        } else {
                            layer.msg(r.Message, { icon: 2 })
                        }
                    },
                    error: function () {
                        layer.msg("操作异常", { icon: 2 })
                    }
                })
            }
        })




    </script>
    <script type="text/javascript">
        var ue = UE.getEditor('Description');
    </script>
}
